@media (max-width: 1170px) {
  .header > .fixed {
    width: 100%;
    max-width: 1170px;
    padding: 35px; }
  .topnav-container > .fixed {
    width: 100%; }
  .topnav-container__mobile-toggle {
    display: block; }
  ul.topnav-container__menu {
    display: none;
    width: 100%; }
    ul.topnav-container__menu li {
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      ul.topnav-container__menu li:last-child {
        margin-bottom: 0; } }
