* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none; }

body, input, select {
  font-family: "Fira Sans", sans-serif; }

body {
  font-size: 12px; }

ul {
  list-style-type: none; }

h2 {
  cursor: default; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.fixed {
  width: 1170px;
  margin: 0 auto; }

.btn, .right-section__callback a.right-section__callback, .product-item .product-item__btn a, .news-item__btn, .form-submit, .cart-table__delete-product, .cart-info__options .cart-info__buy {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 13px;
  width: 115px;
  background: #C54151;
  border-bottom: 2px solid #9A2837;
  transition: 0.3s all; }
  .btn:hover, .right-section__callback a.right-section__callback:hover, .product-item .product-item__btn a:hover, .news-item__btn:hover, .form-submit:hover, .cart-table__delete-product:hover, .cart-info__options .cart-info__buy:hover {
    background: #A12B3A;
    border-bottom: 2px solid #851422;
    text-decoration: none; }

.btn-bordered, .cart-info__options .cart-info__reset, .cart-info__options .cart-info__clear {
  font-size: 12px;
  color: #C54151;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 12px;
  width: 115px;
  border: 2px solid #C54151;
  transition: 0.3s all; }
  .btn-bordered:hover, .cart-info__options .cart-info__reset:hover, .cart-info__options .cart-info__clear:hover {
    background: #C54151;
    color: #fff;
    text-decoration: none; }

.btn-right {
  float: right; }

.header-icons, .right-section__menu .right-section__cabinet, .right-section__menu .right-section__cart {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  padding-left: 30px; }

.main-slider__icons, .main-slider__controls #main-slider__left, .main-slider__controls #main-slider__right {
  display: block;
  width: 63px;
  height: 63px;
  cursor: pointer;
  transition: 0.3s all; }

.slider-controls__icons, .slider .slider-controls__left, .slider .slider-controls__right {
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s all; }

.advantages-icons, .advantages-item .advantages-item__thumbsup-icon, .advantages-item .advantages-item__briefcase-icon, .advantages-item .advantages-item__price-icon, .advantages-item .advantages-item__delivery-icon, .advantages-item .advantages-item__individual-icon {
  display: block;
  height: 32px;
  margin-bottom: 25px; }

.form-icons, .form-input .form__name-icon, .form-input .form__phone-icon {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 43px;
  height: 43px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2); }

.product-icons, .cart-table__count .cart-table__count-minus, .cart-table__count .cart-table__count-plus, .catalog-products__layout .catalog-products__layout-blocks, .catalog-products__layout .catalog-products__layout-lines, .catalog-products__currency .catalog-products__currency-ruble, .catalog-products__currency .catalog-products__currency-euro, .catalog-products__select .catalog-products__select-btn {
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: 0.3s all; }

.slider {
  background: #F8F9FA;
  height: none; }
  .slider > .fixed {
    padding: 45px 0; }
  .slider .slider-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85px; }
  .slider .slider-controls__left {
    background: url("../images/slider/icons/slider_arrows.svg") left; }
    .slider .slider-controls__left:hover {
      background: url("../images/slider/icons/slider_arrows-hover.svg") left; }
  .slider .slider-controls__right {
    background: url("../images/slider/icons/slider_arrows.svg") right; }
    .slider .slider-controls__right:hover {
      background: url("../images/slider/icons/slider_arrows-hover.svg") right; }

.advantages-item__heading {
  margin-bottom: 15px; }
  .advantages-item__heading h2 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; }

.slider-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px; }
  .slider-heading h2 {
    font-weight: 700;
    font-size: 25px;
    color: #798B96;
    text-transform: uppercase; }

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px; }
  .section-heading h2 {
    font-weight: 700;
    font-size: 25px;
    color: #6E6E6E;
    text-transform: uppercase; }

.certificates-slider__items, .certificates-slider__margin .certificates-slider__dab, .certificates-slider__margin .certificates-slider__genebre, .certificates-slider__margin .certificates-slider__herz, .certificates-slider__margin .certificates-slider__zetkama, .certificates-slider__margin .certificates-slider__grundfos, .certificates-slider__margin .certificates-slider__imi {
  display: block;
  width: 250px;
  height: 250px;
  transition: 0.3s all; }

.manufacturers-slider__items, .manufacturers-slider__genebre, .manufacturers-slider__imi, .manufacturers-slider__danfoss, .manufacturers-slider__cimberio, .manufacturers-slider__broen, .manufacturers-slider__siemens {
  display: block;
  width: 190px;
  height: 190px;
  margin-right: 55px;
  transition: 0.3s all; }

.top-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

.main-slider {
  position: relative; }

.main-slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 155px;
  width: 100%;
  z-index: 1; }
  .main-slider__controls #main-slider__left {
    background: url("../images/slider/icons/big-slider_arrows.svg") left; }
    .main-slider__controls #main-slider__left:hover {
      background: url("../images/slider/icons/big-slider_arrows-hover.svg") left; }
  .main-slider__controls #main-slider__right {
    background: url("../images/slider/icons/big-slider_arrows.svg") right; }
    .main-slider__controls #main-slider__right:hover {
      background: url("../images/slider/icons/big-slider_arrows-hover.svg") right; }

.main-slider__one, .main-slider__two {
  padding-top: 270px; }

.main-slider__one {
  background: url("../images/slider/main-slide_1.jpg") center top/cover; }

.main-slider__two {
  background: url("../images/slider/main-slide_2.jpg") center center/cover; }

.main-slider__description {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5); }
  .main-slider__description > .fixed {
    padding: 45px 0; }

.main-slider__bottom {
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase; }
  .main-slider__bottom .main-slider__list {
    list-style-type: disc; }

.main-slider__top, .main-slider__bottom {
  width: 970px; }

.certificates-slider__margin {
  margin-right: 59px; }
  .certificates-slider__margin:last-child {
    margin-right: 0; }
  .certificates-slider__margin .certificates-slider__dab {
    background: url("../images/certificates/dab.jpg"); }
    .certificates-slider__margin .certificates-slider__dab:hover {
      background: url("../images/certificates/dab_hover.jpg"); }
  .certificates-slider__margin .certificates-slider__genebre {
    background: url("../images/certificates/genebre.jpg"); }
    .certificates-slider__margin .certificates-slider__genebre:hover {
      background: url("../images/certificates/genebre_hover.jpg"); }
  .certificates-slider__margin .certificates-slider__herz {
    background: url("../images/certificates/herz.jpg"); }
    .certificates-slider__margin .certificates-slider__herz:hover {
      background: url("../images/certificates/herz_hover.jpg"); }
  .certificates-slider__margin .certificates-slider__zetkama {
    background: url("../images/certificates/zetkama.jpg"); }
    .certificates-slider__margin .certificates-slider__zetkama:hover {
      background: url("../images/certificates/zetkama_hover.jpg"); }
  .certificates-slider__margin .certificates-slider__grundfos {
    background: url("../images/certificates/grundfos.jpg"); }
    .certificates-slider__margin .certificates-slider__grundfos:hover {
      background: url("../images/certificates/grundfos_hover.jpg"); }
  .certificates-slider__margin .certificates-slider__imi {
    background: url("../images/certificates/imi.jpg"); }
    .certificates-slider__margin .certificates-slider__imi:hover {
      background: url("../images/certificates/imi_hover.jpg"); }

.manufacturers-slider__genebre {
  background: url("../images/manufacturers/genebre.jpg"); }
  .manufacturers-slider__genebre:hover {
    background: url("../images/manufacturers/genebre_hover.jpg"); }

.manufacturers-slider__imi {
  background: url("../images/manufacturers/imi.jpg"); }
  .manufacturers-slider__imi:hover {
    background: url("../images/manufacturers/imi_hover.jpg"); }

.manufacturers-slider__danfoss {
  background: url("../images/manufacturers/danfoss.jpg"); }
  .manufacturers-slider__danfoss:hover {
    background: url("../images/manufacturers/danfoss_hover.jpg"); }

.manufacturers-slider__cimberio {
  background: url("../images/manufacturers/cimberio.jpg"); }
  .manufacturers-slider__cimberio:hover {
    background: url("../images/manufacturers/cimberio_hover.jpg"); }

.manufacturers-slider__broen {
  background: url("../images/manufacturers/broen.jpg"); }
  .manufacturers-slider__broen:hover {
    background: url("../images/manufacturers/broen_hover.jpg"); }

.manufacturers-slider__siemens {
  background: url("../images/manufacturers/siemens.jpg"); }
  .manufacturers-slider__siemens:hover {
    background: url("../images/manufacturers/siemens_hover.jpg"); }

.header {
  background: #F8F9FA; }

.header > .fixed {
  width: 1170px;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

a.header__logo {
  display: block;
  width: 250px;
  height: 75px; }

.header__right-section {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__right-section .right-section__address {
    width: 200px;
    line-height: 19px; }
    .header__right-section .right-section__address a {
      color: #C54151;
      text-decoration: none; }
      .header__right-section .right-section__address a:hover {
        text-decoration: underline; }

.right-section__callback {
  width: 170px;
  margin: 0 60px; }
  .right-section__callback h2.right-section__number {
    font-weight: 700;
    font-size: 23px;
    color: #798B96; }
  .right-section__callback a.right-section__callback {
    margin: 10px auto 0; }

.right-section__menu {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .right-section__menu .right-section__cabinet, .right-section__menu .right-section__cart {
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #C54151;
    text-decoration: none; }
  .right-section__menu .right-section__cabinet {
    background: url("../images/icons/header/user.svg") no-repeat left 50%; }
  .right-section__menu .right-section__cart {
    background: url("../images/icons/header/cart.svg") no-repeat left 50%; }
  .right-section__menu .right-section__cart span {
    color: #000; }

.topnav-container {
  background: #263A48; }

.topnav-container > .fixed {
  width: 1170px;
  margin: 0 auto; }

.topnav-container__toggle {
  float: left;
  padding: 22px 20px;
  cursor: pointer;
  transition: 0.3s all; }
  .topnav-container__toggle:hover {
    background: rgba(0, 0, 0, 0.2); }
  .topnav-container__toggle span {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    margin-bottom: 4px; }
    .topnav-container__toggle span:last-child {
      margin-bottom: 0; }

ul.topnav-container__menu {
  float: left; }
  ul.topnav-container__menu li {
    display: inline-block; }
    ul.topnav-container__menu li a {
      display: block;
      padding: 22px 32px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      transition: 0.3s all; }
      ul.topnav-container__menu li a:hover {
        background: rgba(0, 0, 0, 0.2); }

.topnav-container__search {
  float: right;
  position: relative; }
  .topnav-container__search .topnav-container__search-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 16px;
    height: 17px;
    padding: 20px;
    background: url("../images/icons/header/search.svg") no-repeat 50%;
    cursor: pointer;
    transition: 0.3s; }
    .topnav-container__search .topnav-container__search-icon:hover {
      background: rgba(0, 0, 0, 0.2) url("../images/icons/header/search.svg") no-repeat 50%; }
  .topnav-container__search .topnav-container__search-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 16px;
    height: 17px;
    padding: 20px;
    background: url("../images/icons/header/search_close.svg") no-repeat 50%;
    cursor: pointer;
    display: none; }
  .topnav-container__search input.topnav-container__search-input {
    padding: 22px 32px;
    width: 269px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    display: none; }

.topnav-container__catalog-container {
  display: none;
  padding: 45px 0;
  background: rgba(248, 249, 250, 0.98);
  position: absolute;
  z-index: 999;
  width: 100%; }
  .topnav-container__catalog-container .topnav-container__catalog-link {
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    color: #C54151;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 45px; }
    .topnav-container__catalog-container .topnav-container__catalog-link:after {
      display: block;
      content: "";
      width: 24px;
      height: 17px;
      background: url("../images/icons/link_arrow.svg") no-repeat right 50%; }

.topnav-container__catalog {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .topnav-container__catalog ul li a {
    font-weight: 700;
    color: #798B96;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 33px; }
    .topnav-container__catalog ul li a:hover {
      color: #C54151;
      text-decoration: underline; }

.topnav-container__catalog-container.topnav-container__catalog-container_fixed {
  display: block;
  position: relative; }

.about > .fixed {
  width: 1170px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.about__item {
  width: 155px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center; }
  .about__item span {
    display: block;
    font-weight: 700;
    font-size: 48px;
    color: #C54151;
    text-transform: uppercase; }

.tabs__caption li {
  display: inline-block;
  margin-right: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #798B96;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all; }
  .tabs__caption li:hover {
    text-decoration: underline; }

.tabs__caption li.active {
  color: #C54151; }

.tabs__content {
  margin-top: 45px;
  display: none; }
  .tabs__content h2 {
    text-transform: uppercase; }
  .tabs__content a {
    color: #C54151;
    text-decoration: none; }
    .tabs__content a:hover {
      text-decoration: underline; }

.tabs__content.active {
  display: block;
  position: relative; }

.tabs__content > .slider-controls {
  position: absolute;
  top: -72px;
  right: 0; }

.product-item {
  position: relative;
  width: 210px;
  padding: 20px 15px;
  background: #fff;
  transition: 0.3s all; }
  .product-item .product-item__img {
    text-align: center; }
    .product-item .product-item__img img {
      margin: 0 auto; }
  .product-item .product-item__description {
    text-transform: uppercase;
    margin: 20px auto 0; }
  .product-item .product-item__price {
    display: block;
    width: 210px;
    margin: 0 auto 20px;
    font-weight: 700;
    font-size: 20px;
    color: #C54151; }
  .product-item .product-item__btn {
    width: 195px;
    margin: 0 auto; }
    .product-item .product-item__btn a {
      margin: 0 auto; }

.product-item_margin {
  margin-right: 70px; }
  .product-item_margin:last-child {
    margin-right: 0; }

.product-discount {
  position: absolute;
  top: 20px;
  left: -9px;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  display: block;
  width: 76px;
  height: 36px;
  line-height: 35px;
  padding-left: 20px;
  background: url("../images/icons/products/discount.svg") no-repeat 50%; }

.product-sale {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  display: block;
  width: 110px;
  height: 37px;
  background: url("../images/icons/products/sale.png") no-repeat; }

.advantages > .fixed {
  padding: 45px 0; }

.advantages-row {
  width: 1170px;
  margin: 0 auto;
  padding-bottom: 45px; }
  .advantages-row > .advantages-item {
    margin: 0 145px; }

.advantages-item {
  width: 295px;
  float: left;
  margin: 0 47px; }
  .advantages-item .advantages-item__thumbsup-icon {
    background: url("../images/icons/advantages/advantage_1.svg") no-repeat; }
  .advantages-item .advantages-item__briefcase-icon {
    background: url("../images/icons/advantages/advantage_2.svg") no-repeat; }
  .advantages-item .advantages-item__price-icon {
    background: url("../images/icons/advantages/advantage_3.svg") no-repeat; }
  .advantages-item .advantages-item__delivery-icon {
    background: url("../images/icons/advantages/advantage_4.svg") no-repeat; }
  .advantages-item .advantages-item__individual-icon {
    background: url("../images/icons/advantages/advantage_5.svg") no-repeat; }

.news > .fixed {
  padding: 45px 0; }

.news-link {
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #C54151;
  text-decoration: none; }
  .news-link:after {
    display: block;
    content: "";
    width: 24px;
    height: 17px;
    background: url("../images/icons/link_arrow.svg") no-repeat right 50%; }

.news-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.news-item {
  width: 290px; }

.news-item__header {
  margin-bottom: 15px; }
  .news-item__header h2 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase; }

.news-item__description a {
  color: #C54151;
  text-decoration: none; }
  .news-item__description a:hover {
    text-decoration: underline; }

.news-item__date {
  color: #6E6E6E; }

.news-item__btn {
  margin-top: 25px; }

.footer-container {
  background: #263A48; }
  .footer-container > .fixed {
    padding: 45px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }

.footer-partners {
  background: #21323E; }
  .footer-partners > .fixed {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-around; }

.footer-container__header {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase; }

.footer-container__menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.footer-container__menu-item {
  margin-left: 75px; }
  .footer-container__menu-item ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 28px; }
    .footer-container__menu-item ul li a:hover {
      text-decoration: underline; }

.footer-copyright {
  background: #21323E; }
  .footer-copyright > .fixed {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .footer-copyright .footer-copyright__copyright {
    width: 295px; }
  .footer-copyright .footer-copyright__address {
    width: 195px;
    margin-left: 245px; }
  .footer-copyright .footer-copyright__copyright, .footer-copyright .footer-copyright__address {
    color: #fff;
    line-height: 16px; }
    .footer-copyright .footer-copyright__copyright a, .footer-copyright .footer-copyright__address a {
      color: #fff;
      text-decoration: underline; }

.top-btn {
  display: none;
  position: fixed;
  right: 55px;
  bottom: 27px;
  display: block;
  width: 45px;
  height: 45px;
  background: url("../images/icons/top_btn.svg");
  cursor: pointer;
  transition: 0.3s all;
  z-index: 9999; }
  .top-btn:hover {
    background: url("../images/icons/top-btn_hover.svg"); }

.form {
  width: 235px; }

.form-input {
  position: relative;
  margin-bottom: 12px; }
  .form-input:last-child {
    margin-bottom: 0; }
  .form-input .form__name-input, .form-input .form__phone-input {
    width: 143px;
    padding: 15px 32px 15px 60px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff; }
  .form-input .form__name-input_overlay, .form-input .form__phone-input_overlay {
    background: rgba(0, 0, 0, 0.1);
    color: #000; }
  .form-input .form__name-icon {
    background: url("../images/icons/input_name-icon.svg") no-repeat; }
  .form-input .form__phone-icon {
    background: url("../images/icons/input_phone-icon.svg") no-repeat; }

.form-submit {
  cursor: pointer;
  margin-top: 12px; }

.form-submit_right {
  float: right; }

#callback-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999; }

.overlay-container {
  width: 315px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -138.5px -157.5px; }
  .overlay-container > .fixed {
    width: 235px;
    margin: 0 auto;
    padding: 45px 0; }

.overlay-container__header {
  background: #F8F9FA; }
  .overlay-container__header > .fixed {
    width: auto;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #798B96;
    text-transform: uppercase; }
  .overlay-container__header .overlay-container__close {
    display: block;
    width: 25px;
    height: 25px;
    background: url("../images/icons/overlay_close.svg");
    cursor: pointer;
    transition: 0.3s all; }
    .overlay-container__header .overlay-container__close:hover {
      background: url("../images/icons/overlay_close-hover.svg"); }

.cart > .fixed {
  padding: 45px 0; }

.cart-table__count, .cart-info__options {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cart-table__product-container, .cart-info > .fixed {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.cart-table table {
  width: 100%;
  border-spacing: 0 25px; }
  .cart-table table th {
    color: #798B96;
    text-transform: uppercase;
    text-align: right; }
  .cart-table table td.td-price {
    width: 350px; }
  .cart-table table td.td-count {
    width: 310px; }
  .cart-table table td.td-total {
    width: 325px; }
  .cart-table table td.td-delete {
    width: 340px; }

.cart-table__product {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .cart-table__product .cart-table__product-img {
    width: auto;
    height: 93px; }
    .cart-table__product .cart-table__product-img img {
      height: 93px; }
  .cart-table__product .cart-table__product-description {
    width: 220px;
    margin: 0 25px;
    text-transform: uppercase; }
  .cart-table__product .cart-table__product-discount {
    position: relative;
    top: 0; }

.cart-table__product-container .cart-table__product-price {
  font-weight: 700;
  font-size: 20px;
  color: #C54151; }

.cart-table__count {
  width: auto; }
  .cart-table__count .cart-table__count-minus {
    background: url("../images/icons/controls/count_minus.svg"); }
    .cart-table__count .cart-table__count-minus:hover {
      background: url("../images/icons/controls/count_minus-hover.svg"); }
  .cart-table__count .cart-table__count-plus {
    background: url("../images/icons/controls/count_plus.svg"); }
    .cart-table__count .cart-table__count-plus:hover {
      background: url("../images/icons/controls/count_plus-hover.svg"); }
  .cart-table__count .cart-table__count-input {
    width: 43px;
    padding: 13px 32px;
    border: 2px solid #F8F9FA;
    font-weight: 700;
    color: #6E6E6E;
    text-align: center; }
  .cart-table__count .cart-table__count-input::-webkit-inner-spin-button, .cart-table__count .cart-table__count-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none; }

.cart-info > .fixed {
  padding: 0 0 45px; }

.cart-info__price-info {
  width: 175px;
  text-align: right; }
  .cart-info__price-info .cart-info__calc {
    color: #C54151;
    text-decoration: none; }
    .cart-info__price-info .cart-info__calc:hover {
      text-decoration: underline; }
  .cart-info__price-info .cart-info__total {
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px; }

.cart-info__options {
  float: right;
  width: 475px; }

.catalog > .fixed {
  padding: 45px 0; }

.catalog-filter {
  float: left;
  width: 205px; }

.catalog-filter__container {
  margin-bottom: 45px; }
  .catalog-filter__container:last-child {
    margin-bottom: 0; }

.catalog-filter__heading h2 {
  font-size: 18px;
  color: #6E6E6E;
  text-transform: uppercase; }

.catalog-filter__price {
  width: 205px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .catalog-filter__price .catalog-filter__price-input {
    width: 50px;
    padding: 16px 20px;
    background: rgba(0, 0, 0, 0.05);
    color: #6E6E6E;
    text-transform: uppercase;
    text-align: center; }

.catalog-filter__range {
  margin-top: 25px; }
  .catalog-filter__range #catalog-filter__range {
    background: #6E6E6E;
    height: 5px;
    border: none; }
  .catalog-filter__range #amount {
    margin-top: 15px;
    width: 200px; }

.ui-slider-range.ui-corner-all.ui-widget-header {
  background: #C54151;
  border: none;
  height: 5px; }

.ui-slider-handle.ui-corner-all.ui-state-default {
  border-radius: 50%;
  border: 3px solid #C54151;
  background: #fff;
  top: -7px;
  cursor: move; }

.catalog-filter__search {
  width: auto;
  margin-top: 25px; }
  .catalog-filter__search .catalog-filter__search-input {
    width: 141px;
    padding: 16px 32px;
    background: rgba(0, 0, 0, 0.05);
    color: #6E6E6E;
    text-transform: uppercase; }

.catalog-filter__price-input::-webkit-inner-spin-button,
.catalog-filter__price-input::-webkit-outer-spin-button,
.catalog-filter__search-input::-webkit-inner-spin-button,
.catalog-filter__search-input::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.catalog-filter__checkboxes {
  margin-top: 25px; }
  .catalog-filter__checkboxes .catalog-filter__checkbox {
    display: none; }
  .catalog-filter__checkboxes ul li {
    margin-bottom: 10px; }
    .catalog-filter__checkboxes ul li:last-child {
      margin-bottom: 0; }
  .catalog-filter__checkboxes .catalog-filter__checkbox + .catalog-filter__checkbox-label {
    padding-left: 40px;
    height: 20px;
    display: block;
    line-height: 21px;
    text-transform: uppercase;
    transition: 0.3s all;
    cursor: pointer;
    background: url("../images/icons/controls/checkbox.svg") no-repeat; }
    .catalog-filter__checkboxes .catalog-filter__checkbox + .catalog-filter__checkbox-label:hover {
      background: url("../images/icons/controls/checkbox_hover.svg") no-repeat; }
  .catalog-filter__checkboxes .catalog-filter__checkbox:checked + .catalog-filter__checkbox-label {
    background: url("../images/icons/controls/checkbox_checked.svg") no-repeat; }

.catalog-filter__reset {
  display: block;
  width: 42px;
  height: 42px;
  margin: 45px auto 0;
  transition: 0.3s all;
  cursor: pointer;
  background: url("../images/icons/controls/filter_reset.svg"); }
  .catalog-filter__reset:hover {
    background: url("../images/icons/controls/filter_reset-hover.svg"); }

.catalog-container {
  width: 820px;
  float: right; }

.catalog-products, .catalog-products__options, .catalog-products__options-left,
.catalog-products__options-right, .catalog-products__layout, .catalog-products__currency {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.catalog-products__options {
  margin-bottom: 25px; }

.catalog-products__options-left {
  width: 200px; }

.catalog-products__layout .catalog-products__layout-blocks {
  background: url("../images/icons/products/layout_blocks.svg"); }
  .catalog-products__layout .catalog-products__layout-blocks:hover {
    background: url("../images/icons/products/layout_blocks-hover.svg"); }

.catalog-products__layout .catalog-products__layout-lines {
  background: url("../images/icons/products/layout_lines.svg"); }
  .catalog-products__layout .catalog-products__layout-lines:hover {
    background: url("../images/icons/products/layout_lines-hover.svg"); }

.catalog-products__currency .catalog-products__currency-ruble {
  background: url("../images/icons/products/ruble.svg"); }
  .catalog-products__currency .catalog-products__currency-ruble:hover {
    background: url("../images/icons/products/ruble_hover.svg"); }

.catalog-products__currency .catalog-products__currency-euro {
  background: url("../images/icons/products/euro.svg"); }
  .catalog-products__currency .catalog-products__currency-euro:hover {
    background: url("../images/icons/products/euro_hover.svg"); }

.catalog-products__options-right {
  width: 420px; }

.catalog-products__select {
  position: relative; }
  .catalog-products__select .catalog-products__select-amount, .catalog-products__select .catalog-products__select-sorting {
    -webkit-appearance: none;
    padding: 13px 15px;
    border: 2px solid #F8F9FA;
    background: none;
    width: 195px;
    color: #6E6E6E;
    text-transform: uppercase; }
  .catalog-products__select .catalog-products__select-btn {
    position: absolute;
    right: 0;
    background: url("../images/icons/products/select_btn.svg"); }

.catalog-products {
  flex-wrap: wrap; }

.catalog-container__pagination {
  margin-top: 45px; }
  .catalog-container__pagination ul {
    text-align: center; }
    .catalog-container__pagination ul li {
      display: inline-block; }
      .catalog-container__pagination ul li a {
        display: block;
        padding: 15px 20px;
        background: #F8F9FA;
        color: #798B96;
        text-decoration: none;
        text-align: center;
        transition: 0.3s all; }
        .catalog-container__pagination ul li a:hover {
          background: rgba(121, 139, 150, 0.2);
          color: #93A4AF; }

.catalog-container__about {
  margin-top: 45px;
  text-indent: 25px; }
  .catalog-container__about p {
    margin-bottom: 15px; }
    .catalog-container__about p:last-child {
      margin-bottom: 0; }
  .catalog-container__about a {
    color: #C54151;
    text-decoration: none; }
    .catalog-container__about a:hover {
      text-decoration: underline; }

.product-info > .fixed {
  padding: 45px 0; }

.product-info__thumbnail {
  float: left;
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .product-info__thumbnail .product-info__main-thumbnail {
    position: relative;
    width: 413px;
    height: 385px; }

.product-info__thumbnails-item {
  position: relative;
  width: 133px;
  height: 123px;
  margin-bottom: 8px; }
  .product-info__thumbnails-item:last-child {
    margin-bottom: 0; }

.product-info__zoom {
  display: block;
  width: 9px;
  height: 9px;
  background: url("../images/icons/products/zoom.svg");
  position: absolute;
  bottom: 7px;
  right: 7px; }

.product-info__info {
  float: right; }
  .product-info__info .section-heading {
    margin-bottom: 15px; }

.product-info__price {
  font-weight: 700;
  font-size: 65px;
  color: #C54151; }

.product-info__avalaible {
  width: 135px; }

.product-info__config {
  margin-top: 45px;
  width: 320px;
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .product-info__config:last-child {
    margin-top: 25px; }

.product-info__table {
  margin-bottom: 45px; }

.product-info__table-row > .fixed, .product-info__table-row_colored > .fixed {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  transition: 0.3s all; }
  .product-info__table-row > .fixed span, .product-info__table-row_colored > .fixed span {
    font-weight: 700; }
  .product-info__table-row > .fixed:hover, .product-info__table-row_colored > .fixed:hover {
    background: rgba(0, 0, 0, 0.1); }

.product-info__table-row_colored {
  background: #F8F9FA; }
