.btn {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding: 13px;
	width: 115px;
	background: $main-red;
	border-bottom: 2px solid $btn-border;
	transition: 0.3s all;
	&:hover {
		background: $btn-hover;
		border-bottom: 2px solid $btn-border-hover;
		text-decoration: none;
	}
}

.btn-bordered {
	font-size: 12px;
	color: $main-red;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding: 12px;
	width: 145px;
	border: 2px solid $main-red;
	transition: 0.3s all;
	&:hover {
		background: $main-red;
		color: #fff;
		text-decoration: none;
	}
}

.btn-right {
	float: right;
}