.advantages-item__heading {
	margin-bottom: 15px; 

		h2 {
		font-weight: $bold;
		font-size: $small-header;
		text-transform: uppercase;
	}
}

.slider-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px;
	
	h2 {
		font-weight: $bold;
		font-size: $big-header;
		color: $main-blue;
		text-transform: uppercase;
	}
}

.section-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 45px;

	h2 {
		font-weight: $bold;
		font-size: $big-header;
		color: $main-gray;
		text-transform: uppercase;
	}
}