// ADVANTAGES
.advantages > .fixed {
	padding: 45px 0;
}

.advantages__row {
	width: 1170px;
	margin: 0 auto;
	padding-bottom: 45px;

	> .advantages__item {
		margin: 0 145px;
	}
}

.advantages__item {
	width: 295px;
	float: left;
	margin: 0 47px;

	.advantages__thumbsup-icon {
		@extend .advantages__item-icons;
		background: url("../images/icons/advantage_1.svg") no-repeat;
		
	}

	.advantages__briefcase-icon {
		@extend .advantages__item-icons;
		background: url("../images/icons/advantage_2.svg") no-repeat;
	}

	.advantages__price-icon {
		@extend .advantages__item-icons;
		background: url("../images/icons/advantage_3.svg") no-repeat;
	}

	.advantages__delivery-icon {
		@extend .advantages__item-icons;
		background: url("../images/icons/advantage_4.svg") no-repeat;
	}

	.advantages__individual-icon {
		@extend .advantages__item-icons;
		background: url("../images/icons/advantage_5.svg") no-repeat;
	}
}

.advantages__header {
	margin-bottom: 15px; 

		h2 {
		font-weight: $bold;
		font-size: $small-header;
		text-transform: uppercase;
	}
}