#callback__overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#000, .5);
	z-index: 9999;
}

.callback__container {
	width: 315px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -138.5px -157.5px;
}

.callback__container-header {
	background: $main-bg;

	> .fixed {
		width: auto;
		padding: 20px 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $main-blue;
		text-transform: uppercase;
	}
}

.overlay__close {
	display: block;
	width: 25px;
	height: 25px;
	background: url("../images/icons/overlay_close.svg");
	cursor: pointer;
	transition: 0.3s all;
	&:hover {
		background: url("../images/icons/overlay_close-hover.svg");
	}
}

.callback__overlay-form {
	width: 197px;
	margin: 0 auto;
    padding: 30px 0;
}

.callback__overlay-form__input-name, .callback__overlay-form__input-phone {
	padding: 15px 32px 15px 60px;
	background: rgba(#000, .1);
	color: #000;
}