.catalog > .fixed {
	padding: 45px 0;
}

.catalog__filter {
	float: left;
	width: 205px;

	.filter__reset-btn {
		display: block;
		width: 42px;
		height: 42px;
		margin: 0 auto;
		cursor: pointer;
		transition: 0.3s all;
		background: url("../images/icons/filter_reset.svg");
		&:hover {
			background: url("../images/icons/filter_reset-hover.svg");
		}
	}
}

.filter {
	margin-bottom: 45px;

	&:last-child {
		margin-bottom: 0;
	}
}

.filter__header {
	margin-bottom: 20px;
}

.filter__price-inputs {
	display: flex;
	align-items: center;
	justify-content: space-between;

	input {
		padding: 22px 25px;
    	width: 45px;
	    color: $main-gray;
	    background: rgba(#000, .05);
	}
}

.filter__wrapper {
	margin-bottom: 20px;

	input.filter__input {
		padding: 22px 32px;
	    width: 141px;
	    color: $main-gray;
	    background: rgba(#000, .05);
	}

	ul.filer__checkboxes {
		text-transform: uppercase;

		li {
			margin: 15px 0;

			input[type="checkbox"] {
			    display: none;
			}

			input[type="checkbox"] + label {
			    background: url("../images/icons/checkbox.svg") no-repeat 0;
			    padding: 8px 0 8px 40px;
			}

			input[type="checkbox"]:checked + label {
			    background: url("../images/icons/checkbox_checked.svg") no-repeat 0;
			}
		}
	}
}

.filter__right {
	float: right;
	width: 855px;
	margin-bottom: 25px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__right-layouts, .filter__right-currency {
	width: 84px;
	display: flex;
    align-items: center;
    justify-content: space-between;

	.layout1 {
		display: block;
		width: 42px;
		height: 42px;
		background: url("../images/products/icons/layout_1.svg") no-repeat 0;
	}

	.layout2 {
		display: block;
		width: 42px;
		height: 42px;
		background: url("../images/products/icons/layout_2.svg") no-repeat 0;
	}
}

.filter__right-currency {
	.rub {
		display: block;
		width: 42px;
		height: 42px;
		background: url("../images/products/icons/rub.svg") no-repeat 0;
	}

	.euro {
		display: block;
		width: 42px;
		height: 42px;
		background: url("../images/products/icons/euro.svg") no-repeat 0;
	}
}

.filter__right-sorting {
	width: 255px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	select {
		font-weight: $bold;
		background: none;
		color: $main-gray;
		text-transform: uppercase;
		-webkit-appearance: none;
	    border-radius: 0%;
	    border: 2px solid $main-bg;
	    width: 215px;
	    padding: 12px 13px;
	}

	&:after {
		content: "";
		display: block;
		@extend .count__buttons;
		background: url("../images/products/icons/select_btn.svg");
	}
} 

.catalog__products {
	float: right;
    width: 855px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog__product {
	margin-bottom: 25px;
}

.pagination {
	float: right;
	width: 885px;
	margin: 0 auto;

	ul {
		text-align: center; 

		li {
			display: inline-block;

			a {
				display: block;
				padding: 20px;
				background: $main-bg;
				color: $main-blue;
				text-align: center;
			}
		}
	}
}

.about__g-scm {
	margin-top: 100px;
    text-indent: 25px;

	p {
		margin-bottom: 10px;
	}
}