// FOOTER
.footer {
	background: #263A48;
}

.footer__partners, .footer__bottom {
	background: #21323E;
}

.footer__header {
	margin-bottom: 25px;
	font-weight: $bold;
	font-size: $small-header;
	color: #fff;
	text-transform: uppercase;
}

.footer__partners > .fixed {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 25px 0;
}

.footer__middle > .fixed {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 45px 0;
}

.footer__form {
	width: 235px;
}

.footer__form-input {
	position: relative;
	margin-bottom: 12px;
	&:last-child {
		margin-bottom: 0;
	}

	.form__input-name, .form__input-phone {
		padding: 15px 32px 15px 60px;
		background: rgba(#000, .2);
		color: #fff;
	}

	.form__icon-name {
		@extend .footer__form-input__icons;
		background: url("../images/icons/input_name_ico.svg") no-repeat;
	}

	.form__icon-phone {
		@extend .footer__form-input__icons;
		background: url("../images/icons/input_phone_ico.svg") no-repeat;
	}
}

.form__input-submit {
	@extend .btn;
	cursor: pointer;
	margin-top: 12px;
}	

.footer__menu {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer__menu-item {
	margin-left: 75px;

	ul li a {
		color: #fff;
		text-decoration: none;
		line-height: 28px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.footer__bottom > .fixed {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 20px 0;
}

.footer__copyright {
	width: 295px;
}

.footer__address {
	width: 195px;
	margin-left: 245px;
}

.footer__copyright, .footer__address {
	color: #fff;
	line-height: 16px;
	
	a {
		color: #fff;
		text-decoration: underline;
	}
}

.top__btn {
	position: fixed;
	right: 55px;
    bottom: 29px;
	display: block;
	width: 45px;
	height: 45px;
	background: url("../images/icons/top_btn.svg");
	cursor: pointer;
	transition: 0.3s all;
	&:hover {
		background: url("../images/icons/top-btn_hover.svg");
	}
}