// HEADER
.header, .header__right-panel {
	display: flex;
	align-items: center;
	justify-content: space-between; 
}

.header {
	width: 1170px;
	margin: 0 auto;
	padding: 45px 0;
}

.header__logo {
	display: block;
	width: 255px;
	height: 75px;
}

.header__address {
	width: 200px;
	line-height: 19px;

	.header__email {
		color: $main-red;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.header__phone {
	width: 170px;
	margin: 0 60px;

	.header__phone-label {
		font-weight: $bold;
		font-size: 23px;
		color: $main-blue;
	}

	.header__callback-btn {
		@extend .btn;
		margin: 10px auto 0;
	}
}

.header__user {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__cabinet, .header__cart {
	color: $main-red;
	text-decoration: none;
	width: 110px;
}

.header__cabinet, .header__cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__cabinet:before {
	@extend .header__icons;
	background: url("../images/icons/user.svg") no-repeat left 50%;
}

.header__cart:before {
	@extend .header__icons;
	background: url("../images/icons/cart.svg") no-repeat left 50%;
}

.header__cart span { 
	color: #000;
}





// HEADER TOP NAV
.top__nav {
	background: #263A48;
}

.top__nav-toggle {
	float: left;
	padding: 22px 20px;
	cursor: pointer;
	transition: 0.3s all;
	&:hover {
		background: rgba(#000, .2);
	}

	span {
		display: block;
		width: 20px;
		height: 2px;
		background: #fff;
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul.top__nav-menu {
	float: left;

	li {
		display: inline-block;

		a {
			display: block;
			padding: 22px 32px;
			font-weight: $bold;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			transition: 0.3s all;
			&:hover {
				background: rgba(#000, .2);
			}
		}
	}
}

.top__nav-search {
	float: right;
	position: relative;

	.top__nav-icon {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 16px;
		height: 17px;
		padding: 20px;
		background: url("../images/icons/search.svg") no-repeat 50%;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background: rgba(#000, .2) url("../images/icons/search.svg") no-repeat 50%;
		}
	}

	.top__nav-close {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 16px;
		height: 17px;
		padding: 20px;
		background: url("../images/icons/search_close.svg") no-repeat 50%;
		cursor: pointer;
		display: none;
	}

	input {
		padding: 22px 32px;
		width: 269px;
		color: #fff;
		background: rgba(#000, .2);
		display: none;
	}
}




// HEADER - TOGGLE CATALOG
.toggle__catalog {
	display: none;
	padding: 45px 0;
	background: rgba($main-bg, .98);
	position: absolute;
	z-index: 999;
	width: 100%;

	.toggle__catalog-link {
		width: 210px;
		display: flex;
		align-items: center;
		justify-content: space-between; 
		font-weight: $bold;
		font-size: $small-header;
		color: $main-red;
		text-decoration: none;
		text-transform: uppercase;
		margin-bottom: 45px;
		&:after {
			display: block;
			content: "";
			width: 24px;
			height: 17px;
			background: url("../images/icons/link_arrow.svg") no-repeat right 50%;		
		}
	}
}

.toggle__catalog-menu {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	ul li a {
		font-weight: $bold;
		color: $main-blue;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 33px;
		&:hover {
			color: $main-red;
			text-decoration: underline;
		}
	}
}