.slider__header, .section__header {
	@extend .flex;
	margin-bottom: 45px;
}

.slider__header h2 {
	font-weight: $bold;
	font-size: $big-header;
	color: $main-blue;
	text-transform: uppercase;
}

.section__header h2 {
	font-weight: $bold;
	font-size: $big-header;
	color: $main-gray;
	text-transform: uppercase;
}

.filter__header h2 {
	font-weight: $bold;
	font-size: $small-header;
	color: $main-gray;
	text-transform: uppercase;
}