// NEWS
.news > .fixed {
	padding: 45px 0;
}

a.news__link {
	width: 115px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	color: $main-red;
	text-decoration: none;
	&:after {
		display: block;
		content: "";
		width: 24px;
		height: 17px;
		background: url("../images/icons/link_arrow.svg") no-repeat right 50%;
	}
}

.news__items {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.news__item {
	width: 290px;
}

.news__item-header {
	margin-bottom: 15px;

	h2 {
		font-weight: $bold;
		font-size: $small-header;
		text-transform: uppercase;
	}
}

.news__item-caption a {
	color: $main-red;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

.news__item-date {
	color: $main-gray;
}

.news__item-btn {
	@extend .btn;
	margin-top: 25px;
}