// PRODUCT TABLE
.product__table > .fixed {
	padding: 45px 0;
}

.product__table-row, .row__colored {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 23px 15px;
	transition: 0.3s all;
	&:hover {
		background: rgba(#000, .1);
	}

	span {
		font-weight: $bold;
	}
}

.row__colored {
	background: $main-bg;
}