// SLIDERS
.lightSlider .lSSlide {
	height: none;
}

.products__slider, .certificates__slider, .manufacturers__slider {
	background: $main-bg;
	height: none;

	> .fixed {
		padding: 45px 0;
	}
}

.slider__controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 85px;
}

.slider__controls-left {
	@extend .slider__controls-icons;
	background: url("../images/slider/icons/slider_arrows.svg") left;
	&:hover {
		background: url("../images/slider/icons/slider_arrows-hover.svg") left;
	}
}

.slider__controls-right {
    @extend .slider__controls-icons;
	background: url("../images/slider/icons/slider_arrows.svg") right;
	&:hover {
		background: url("../images/slider/icons/slider_arrows-hover.svg") right;
	}
}




// MAIN SLIDER
.main__slider {
	position: relative;
}

.main__slider-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 155px;
	width: 100%;
	z-index: 1;

	#main__slider-left {
		@extend .main-slider__controls-icons;
		background: url("../images/slider/icons/big-slider_arrows.svg") left;
		&:hover {
			background: url("../images/slider/icons/big-slider_arrows-hover.svg") left;
		}
	}

	#main__slider-right {
		@extend .main-slider__controls-icons;
		background: url("../images/slider/icons/big-slider_arrows.svg") right;
		&:hover {
			background: url("../images/slider/icons/big-slider_arrows-hover.svg") right;
		}
	}
}



.main__slider-one, .main__slider-two {
	padding-top: 350px;
}

.main__slider-one {
	background: url("../images/slider/main-slide_1.jpg") center top / cover;
}

.main__slider-two {
	background: url("../images/slider/main-slide_2.jpg") center center / cover;
}

.main__slider-caption {
	font-weight: $bold;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	background: rgba(#000, .5);

	> .fixed {
		padding: 45px 0;
	}
}

.main__slider-bottom {
	margin-top: 15px;
	font-weight: $bold;
	font-size: $small-header;
	color: #fff;
	text-transform: uppercase;

	ul.main__slider-list {
		list-style-type: disc;
	}
}

.main__slider-top, .main__slider-bottom {
	width: 970px;
}




// CERTIFICATES SLIDER
.certificates__slider-dab { 
	@extend .certificates__slider-items;
	background: url("../images/certificates/dab.jpg");
	&:hover {
		background: url("../images/certificates/dab_hover.jpg");
	}
}

.certificates__slider-genebre {
	@extend .certificates__slider-items;
	background: url("../images/certificates/genebre.jpg");
	&:hover {
		background: url("../images/certificates/genebre_hover.jpg");
	}
}

.certificates__slider-herz {
	@extend .certificates__slider-items;
	background: url("../images/certificates/herz.jpg");
	&:hover {
		background: url("../images/certificates/herz_hover.jpg");
	}
}

.certificates__slider-zetkama {
	@extend .certificates__slider-items;
	background: url("../images/certificates/zetkama.jpg");
	&:hover {
		background: url("../images/certificates/zetkama_hover.jpg");
	}
}

.certificates__slider-grundfos {
	@extend .certificates__slider-items;
	background: url("../images/certificates/grundfos.jpg");
	&:hover {
		background: url("../images/certificates/grundfos_hover.jpg");
	}
}

.certificates__slider-imi {
	@extend .certificates__slider-items;
	background: url("../images/certificates/imi.jpg");
	&:hover {
		background: url("../images/certificates/imi_hover.jpg");
	}
}




// MANUFACTURER SLIDER
.manufacturers__slider-genebre {
	@extend .manufacturers__slider-items;
	background: url("../images/manufacturers/genebre.jpg");
	&:hover {
		background: url("../images/manufacturers/genebre_hover.jpg");
	}
}

.manufacturers__slider-imi {
	@extend .manufacturers__slider-items;
	background: url("../images/manufacturers/imi.jpg");
	&:hover {
		background: url("../images/manufacturers/imi_hover.jpg");
	}
}

.manufacturers__slider-danfoss {
	@extend .manufacturers__slider-items;
	background: url("../images/manufacturers/danfoss.jpg");
	&:hover {
		background: url("../images/manufacturers/danfoss_hover.jpg");
	}
}

.manufacturers__slider-cimberio {
	@extend .manufacturers__slider-items;
	background: url("../images/manufacturers/cimberio.jpg");
	&:hover {
		background: url("../images/manufacturers/cimberio_hover.jpg");
	}
}

.manufacturers__slider-broen {
	@extend .manufacturers__slider-items;
	background: url("../images/manufacturers/broen.jpg");
	&:hover {
		background: url("../images/manufacturers/broen_hover.jpg");
	}
}

.manufacturers__slider-siemens {
	@extend .manufacturers__slider-items;
	background: url("../images/manufacturers/siemens.jpg");
	&:hover {
		background: url("../images/manufacturers/siemens_hover.jpg");
	}
}