@import "vars";
@import "reset";


@import "extends/buttons";
@import "extends/icons";
@import "extends/controls";
@import "extends/headings";
@import "extends/slider_items";


@import "sliders/main";
@import "sliders/certificates";
@import "sliders/manufacturers";


@import "blocks/header";
@import "blocks/about";
@import "blocks/tabs";
@import "blocks/product";
@import "blocks/product_info_table";
@import "blocks/advantages";
@import "blocks/news";
@import "blocks/footer";
@import "blocks/form";
@import "blocks/callback_overlay";
@import "blocks/cart_overlay";
@import "blocks/cart";
@import "blocks/filter";
@import "blocks/catalog";

.top-fixed { 
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}