@import "vars";
@import "reset";
@import "extends";
@import "headings";
@import "tabs";

@import "header";
@import "about_us";


@import "main_slider";
@import "products_slider";
@import "certificates_slider";
@import "manufacturers_slider";


@import "advantages";
@import "product_item";
@import "news";
@import "footer";

 
@import "product_page";
@import "product_table";




.clearfix:after {
	content: "";
  	display: table;
  	clear: both;
}

.top__fixed { 
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}