.cart > .fixed {
	padding: 45px 0;
}

.cart-table__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
	&:last-child {
		margin-bottom: 0;
	}
}

.cart-table__product {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.cart-table__product-img {
		width: auto;
		height: 93px;
		img {
			height: 93px;
		}
	}

	.cart-table__product-description {
		width: 220px;
		margin: 0 25px;
		text-transform: uppercase;
	}

	.cart-table__product-discount {
		position: relative;
		top: 0;
	}
}

.count, .cart-info__options {
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-info > .fixed {
    padding: 0 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.cart-table__product-container {
	width: 450px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-table__product-price {
	font-weight: $bold;
	font-size: $fz-price;
	color: $main-red;

	p {
		font-weight: 100;
		font-size: 12px;
		color: #000;
	}
}

.count {
    width: auto;

	.count-minus {
		@extend .product-icons;
		background: url("../images/icons/controls/count_minus.svg");
		&:hover {
			background: url("../images/icons/controls/count_minus-hover.svg");
		}
	}

	.count-plus {
		@extend .product-icons;
		background: url("../images/icons/controls/count_plus.svg");
		&:hover {
			background: url("../images/icons/controls/count_plus-hover.svg");
		}
	}

	.count-input {
		width: 111px;
		padding: 12.5px 32px;
		border: 2px solid $main-bg;
		font-weight: $bold;
		color: $main-gray;
		text-align: center; 
	}

	.count-input::-webkit-inner-spin-button, 
	.count-input::-webkit-outer-spin-button {
		-webkit-appearance: none;
		appearance: none;
	}
}

.cart-table__delete-product {
	@extend .btn;
}

.cart-info__price-info {
	width: 175px;
	text-align: right;

	.cart-info__calc {
		color: $main-red;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.cart-info__total {
		font-weight: $bold;
		font-size: 18px;
		margin-top: 15px;
	}
}

.cart-info__options {
    float: right;
    width: 475px;

	.cart-info__buy {
		font-size: 12px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		display: block;
		padding: 13px;
		width: 145px;
		background: $main-red;
		border-bottom: 2px solid $btn-border;
		transition: 0.3s all;
		&:hover {
			background: $btn-hover;
			border-bottom: 2px solid $btn-border-hover;
			text-decoration: none;
		}
	}

	.cart-info__reset, .cart-info__clear {
		@extend .btn-bordered;
	}
}