.header {
	background: $main-bg;
}

.header > .fixed {
	width: 1170px;
	margin: 0 auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

a.header__logo {
	display: block;
	width: 250px;
	height: 75px;
}

.header__right-section {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.right-section__address {
		width: 200px;
		line-height: 19px;
		a {
			color: $main-red;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.right-section__callback {
	width: 170px;
	margin: 0 60px;

	h2.right-section__number {
		font-weight: $bold;
		font-size: 23px;
		color: $main-blue;
	}

	a.right-section__callback {
		font-size: 12px;
	    color: #fff;
	    text-decoration: none;
	    text-transform: uppercase;
	    text-align: center;
	    display: block;
	    padding: 13px;
	    width: 145px;
	    background: #C54151;
	    border-bottom: 2px solid #9A2837;
	    transition: 0.3s all;
		margin: 10px auto 0;
		&:hover {
			background: $btn-hover;
			border-bottom: 2px solid $btn-border-hover;
		}
	}
}

.right-section__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.right-section__cabinet, .right-section__cart {
		width: 115px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $main-red;
		text-decoration: none;
	}

	.right-section__cabinet {
		@extend .header-icons;
		background: url("../images/icons/header/user.svg") no-repeat left 50%;
	}

	.right-section__cart {
		@extend .header-icons;
		background: url("../images/icons/header/cart.svg") no-repeat left 50%;
	}

	.right-section__cart span { 
		color: #000;
	}
}

.topnav-container {
	background: #263A48;
}

.topnav-container > .fixed {
	width: 1170px;
	margin: 0 auto;
}

.topnav-container__mobile-toggle {
	display: none;
	float: left;
	padding: 22px 20px;
	cursor: pointer;
	transition: 0.3s all;
	&:hover {
		background: rgba(#000, .2);
	}

	span {
		display: block;
		width: 20px;
		height: 2px;
		background: #fff;
		margin-bottom: 4px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

ul.topnav-container__menu {
	float: left;

	li {
		display: inline-block;

		a {
			display: block;
			padding: 22px 32px;
			font-weight: $bold;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			transition: 0.3s all;
			&:hover {
				background: rgba(#000, .2);
			}
		}
	}
}

.topnav-container__search {
	float: right;
	position: relative;

	.topnav-container__search-icon {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 16px;
		height: 17px;
		padding: 28.5px;
		background: url("../images/icons/header/search.svg") no-repeat 50%;
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			background: rgba(#000, .2) url("../images/icons/header/search.svg") no-repeat 50%;
		}
	}

	.topnav-container__search-close {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		width: 16px;
		height: 17px;
		padding: 28.5px;
		background: url("../images/icons/header/search_close.svg") no-repeat 50%;
		cursor: pointer;
		display: none;
	}

	input.topnav-container__search-input {
		padding: 22px 32px;
		width: 213px;
		color: #fff;
		background: rgba(#000, .2);
		display: none;
	}
}

.topnav-container__catalog-container {
	display: none;
	padding: 45px 30px;
	background: rgba($main-bg, .98);
	position: absolute;
	z-index: 999;
	width: 100%;

	.topnav-container__catalog-link {
		width: 210px;
		display: flex;
		align-items: center;
		justify-content: space-between; 
		font-weight: $bold;
		font-size: $small-header;
		color: $main-red;
		text-decoration: none;
		text-transform: uppercase;
		margin-bottom: 45px;
		&:after {
			display: block;
			content: "";
			width: 24px;
			height: 17px;
			background: url("../images/icons/link_arrow.svg") no-repeat right 50%;		
		}
	}
}

.topnav-container__catalog {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;

	ul li a {
		font-weight: $bold;
		color: $main-blue;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 33px;
		&:hover {
			color: $main-red;
			text-decoration: underline;
		}
	}
}

.topnav-container__catalog-container.topnav-container__catalog-container_fixed {
	display: flex;
	position: relative;
	padding: 45px 30px;
}