.product-item {
	position: relative;
	width: 240px;
	padding: 20px 15px;
	background: #fff;
	transition: 0.3s all;
	&:hover {
		box-shadow: 0 0 10px rgba(#000, .2);
		z-index: 9999;
	}

	.product-item__img {
		text-align: center;

		img {
			margin: 0 auto;
			width: auto;
			height: 145px;
		}
	}

	.product-item__description {
		text-transform: uppercase;
		margin: 20px auto 0;
	}

	.product-item__price {
		display: block;
		width: 210px;
		margin: 0 auto 20px;
		font-weight: $bold;
		font-size: $fz-price;
		color: $main-red;
	}

	.product-item__btn {
		width: 170px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			@extend .btn;
		}

		.product-item__btn-more {
			@extend .btn;
			cursor: pointer;
		}

		.product-item__btn-cart {
			@extend .product-icons;
			background: url("../images/icons/products/cart.svg");
			&:hover {
				background: url("../images/icons/products/cart_hover.svg");
			}
		}
	}
}

.product-item_margin {
	margin-right: 70px;

	&:last-child {
		margin-right: 0;
	}
}

.product-discount {
	position: absolute;
    top: 20px;
    left: 0;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    display: block;
    width: 76px;
    height: 36px;
    line-height: 35px;
    padding-left: 20px;
    background: url("../images/icons/products/discount.svg") no-repeat 50%;
}

.product-sale {
	position: absolute;
	top: 20px;
	left: 0;
	font-weight: $bold;
	font-size: 10px;
	color: #fff;
	display: block;
	width: 110px;
	height: 37px;
	background: url("../images/icons/products/sale.png") no-repeat;
}