.product-info__table > .fixed {
	padding: 45px 0;
}

.product-info__table-row > .fixed {
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
    	font-weight: $bold;
    }
}

.product-info__table-row_colored {
	background: $main-bg;
}