.product-info > .fixed {
	padding: 45px 0;
}

.product-info__info {
	width: 560px;
	float: right;
}

.product-info__title {
	margin-bottom: 45px;

	> .section-heading {
		margin-bottom: 0;
	}
}

.product-info__price h2 {
	font-size: 64px;
	color: $main-red;
}

.product-info__config {
	margin-top: 15px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-info__options {
	margin-top: 45px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.product-info__cart {
		@extend .btn;
	}

	.product-info__buy {
		width: 170px;
		@extend .btn-bordered;
	}
}

.product-info__thumb {
	float: left;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info__main-thumb {
	width: 411px;
	height: auto;

	img {
		width: inherit;
		height: auto;
	}
}

.product-info__ext-thumb {
	width: 138px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

	img {
		width: inherit;
		height: auto;
	}
}