.certificates-slider__margin {
	margin-right: 59px;

	&:last-child {
		margin-right: 0;
	}

	.certificates-slider__dab { 
		@extend .certificates-slider__items;
		background: url("../images/certificates/dab.jpg");
		&:hover {
			background: url("../images/certificates/dab_hover.jpg");
		}
	}

	.certificates-slider__genebre {
		@extend .certificates-slider__items;
		background: url("../images/certificates/genebre.jpg");
		&:hover {
			background: url("../images/certificates/genebre_hover.jpg");
		}
	}

	.certificates-slider__herz {
		@extend .certificates-slider__items;
		background: url("../images/certificates/herz.jpg");
		&:hover {
			background: url("../images/certificates/herz_hover.jpg");
		}
	}

	.certificates-slider__zetkama {
		@extend .certificates-slider__items;
		background: url("../images/certificates/zetkama.jpg");
		&:hover {
			background: url("../images/certificates/zetkama_hover.jpg");
		}
	}

	.certificates-slider__grundfos {
		@extend .certificates-slider__items;
		background: url("../images/certificates/grundfos.jpg");
		&:hover {
			background: url("../images/certificates/grundfos_hover.jpg");
		}
	}

	.certificates-slider__imi {
		@extend .certificates-slider__items;
		background: url("../images/certificates/imi.jpg");
		&:hover {
			background: url("../images/certificates/imi_hover.jpg");
		}
	}
}