// MAIN SLIDER
.main-slider {
	position: relative;
}

.main-slider__controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 155px;
	width: 100%;
	z-index: 1;

	#main-slider__left {
		@extend .main-slider__icons;
		background: url("../images/slider/icons/big-slider_arrows.svg") left;
		&:hover {
			background: url("../images/slider/icons/big-slider_arrows-hover.svg") left;
		}
	}

	#main-slider__right {
		@extend .main-slider__icons;
		background: url("../images/slider/icons/big-slider_arrows.svg") right;
		&:hover {
			background: url("../images/slider/icons/big-slider_arrows-hover.svg") right;
		}
	}
}

.main-slider__one, .main-slider__two {
	padding-top: 270px;
}

.main-slider__one {
	background: url("../images/slider/main-slide_1.jpg") center top / cover;
}

.main-slider__two {
	background: url("../images/slider/main-slide_2.jpg") center center / cover;
}

.main-slider__description {
	font-weight: $bold;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	background: rgba(#000, .5);

	> .fixed {
		width: 100%;
		padding: 45px 45px;
	}
}

.main-slider__bottom {	
	font-weight: $bold;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;

	.main-slider__list {
		list-style-type: disc;
	}
}

.main-slider__top, .main-slider__bottom {
	width: 970px;
}