$main-bg: #F8F9FA;
$main-red: #C54151;
$main-blue: #798B96;
$main-gray: #6E6E6E;
$btn-border: #9A2837;
$btn-hover: #A12B3A;
$btn-border-hover: #851422;

$regular: 400;
$bold: 700;

$small-header: 18px;
$big-header: 25px;
$fz-price: 20px;