.header-icons {
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	padding-left: 30px;
}

.main-slider__icons {
	display: block;
	width: 63px;
	height: 63px;
	cursor: pointer;
	transition: 0.3s all;
}

.slider-controls__icons {
	display: block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	transition: 0.3s all;
}

.advantages-icons {
	display: block;
	height: 32px;
	margin-bottom: 25px;
}

.form-icons {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 43px;
	height: 43px;
	color: #fff;
	background: rgba(#000, .2);
}

.product-icons {
	display: block;
	width: 42px;
	height: 42px;
	cursor: pointer;
	transition: 0.3s all;
}