<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ООО "ГСКМ". Интернет-магазин инженерного оборудования</title>
		<meta name="theme-color" content="">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="shortcut icon" href="../dest/images/favicons/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="../dest/images/favicons/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="57x57" href="../dest/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="../dest/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="../dest/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="../dest/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="../dest/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="../dest/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="../dest/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="../dest/images/favicons/apple-touch-icon-180x180.png">
		<link rel="stylesheet" href="../dest/styles/main.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
	</head>
	<body>
		//= includes/blocks/header.html
		<nav class="topnav-container">
			<div class="fixed clearfix">
				<div class="topnav-container__mobile-toggle">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="topnav-container__search">
					<span class="topnav-container__search-icon"></span>
					<span class="topnav-container__search-close"></span>
					<input class="topnav-container__search-input" type="text" placeholder="ПОИСК...">
				</div>
				<ul class="topnav-container__menu">
					<li><a href="#" class="topnav-container__toggle">Каталог</a></li>
					<li><a href="#">Акции</a></li>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Сертификаты и гарантии</a></li>
					<li><a href="#">Распродажа</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="topnav-container__catalog-container">
				<div class="fixed">
					<a href="catalog.html" class="topnav-container__catalog-link">Перейти в каталог</a>
				</div>
				<div class="topnav-container__catalog">
					<ul>
						<li><a href="#">Краны шаровые</a></li>
						<li><a href="#">Дисковые поворотные затворы</a></li>
						<li><a href="#">Задвижки</a></li>
						<li><a href="#">Вентили</a></li>
						<li><a href="#">Фильтры</a></li>
						<li><a href="#">Клапаны</a></li>
						<li><a href="#">Детали трубопроводов</a></li>
					</ul>
					<ul>
						<li><a href="#">Балансировочные и запорно-регулирующие клапаны</a></li>
						<li><a href="#">Приводы</a></li>
						<li><a href="#">Терморегулирование, узлы обвязки радиаторов</a></li>
						<li><a href="#">Регуляторы расхода и перепада давления</a></li>
						<li><a href="#">Системы поддержания давления и качества воды</a></li>
					</ul>
					<ul>
						<li><a href="#">Насосное оборудование</a></li>
						<li><a href="#">Сепараторы</a></li>
						<li><a href="#">Баки</a></li>
						<li><a href="#">Контрольно-измерительные приборы и автоматика</a></li>
						<li><a href="#">Смотровые стекла</a></li>
						<li><a href="#">Воздухоотводчики</a></li>
						<li><a href="#">Конденсатоотводчики</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<section class="product-info">
			<div class="fixed clearfix">
				<div class="product-info__thumb">
					<div class="product-info__main-thumb">
						<img src="images/products/previews/thumb.jpg" alt="">
					</div>
					<div class="product-info__ext-thumb">
						<img src="images/products/previews/thumb.jpg" alt="">
						<img src="images/products/previews/thumb.jpg" alt="">
						<img src="images/products/previews/thumb.jpg" alt="">
					</div>
				</div>
				<div class="product-info__info">
					<div class="product-info__title">
						<div class="section-heading">
							<h2>КЛАПАН ОБРАТНЫЙ ПРУЖИННЫЙ GENEBRE 2450</h2>
						</div>
						<div class="ya-share2" data-services="vkontakte,twitter,facebook,gplus" data-counter=""></div>
					</div>
					<div class="product-info__price"><h2>4207 &#8381;</h2></div>
					<div class="product-info__available">
						<p>Артикул: 2450 09</p>
						<p>Доступность: в наличии</p>
					</div>
					<div class="product-info__config">
						<p>Диаметр:</p>
						<div class="catalog-products__select product-info__select">
							<span class="catalog-products__select-btn"></span>
							<select class="catalog-products__select-amount">
								<option>DN50</option>
								<option>DN50</option>
								<option>DN50</option>
								<option>DN50</option>
							</select>
						</div>
					</div>
					<div class="product-info__config">
						<p>Количество:</p>
						<div class="count">
							<span class="count-minus"></span>
							<input value="1" type="number" class="count-input">
							<span class="count-plus"></span>
						</div>
					</div>
					<div class="product-info__options">
						<a href="#" class="product-info__cart">В корзину</a>
						<a href="#" class="product-info__buy">Купить в один клик</a>
					</div>
				</div>
			</div>
		</section>
		<section class="product-info__table">
			<div class="fixed">
				<div class="tabs">
					<ul class="tabs__caption">
						<li class="active">Описание</li>
						<li>Характеристики</li>
						<li>Документация</li>
					</ul>
						<div class="tabs__content active">
							<h2>Клапан обратный пружинный GENEBRE 2450</h2>
							<p>Предназначен для пропуска потока рабочей среды в одном направлении и предотвращения её движение в противоположном, действуя при этом автоматически и являясь арматурой прямого действия.</p>
						</div>
						<div class="tabs__content">
							<div class="product-info__table-row">
								<div class="fixed">
									<p>Производитель</p><span>Genebre</span>
								</div>
							</div>
							<div class="product-info__table-row product-info__table-row_colored">
								<div class="fixed">
									<p>Рабочее давление</p><span>PN16</span>
								</div>
							</div>
							<div class="product-info__table-row">
								<div class="fixed">
									<p>Категория</p><span>Пружинный</span>
								</div>
							</div>
							<div class="product-info__table-row product-info__table-row_colored">
								<div class="fixed">
									<p>Материал корпуса</p><span>Чугун</span>
								</div>
							</div>
							<div class="product-info__table-row">
								<div class="fixed">
									<p>Материал запорного устройства</p><span>Латунь</span>
								</div>
							</div>
							<div class="product-info__table-row product-info__table-row_colored">
								<div class="fixed">
									<p>Материал улотнения</p><span>Nitril NBR</span>
								</div>
							</div>
							<div class="product-info__table-row">
								<div class="fixed">
									<p>Максимальная рабочая температура (в градусах по Целсию)</p><span>+100</span>
								</div>
							</div>
							<div class="product-info__table-row product-info__table-row_colored">
								<div class="fixed">
									<p>Тип присоединения</p><span>Межфланцевое</span>
								</div>
							</div>
						</div>
						<div class="tabs__content">
							<p>Техническое описание (2450.pdf, 511 Kb) [<a href="#">Скачать</a>]</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="slider">
			<div class="fixed">
				<div class="tabs">
					<ul class="tabs__caption">
						<li class="active">Похожие товары</li>
						<li>Недавно просмотренные</li>
					</ul>
						<div class="tabs__content active">
							//= includes/sliders/similar_products.html
						</div>
						<div class="tabs__content">
							//= includes/sliders/recently_products.html
						</div>
					</div>
				</div>
			</div>
		</section>
		//= includes/blocks/footer.html
		<div id="cart-overlay">
			<div class="overlay-container cart-overlay-container">
				<div class="overlay-container__header cart-overlay-container__header">
					<div class="fixed">
						<p>Добавить товар в корзину</p>
						<span class="overlay-container__close"></span>
					</div>
				</div>
				<div class="fixed clearfix">
					//= includes/blocks/cart_overlay.html
				</div>
			</div>
		</div>
		<div id="callback-overlay" class="overlay">
			<div class="flex-overlay">
				<div class="overlay-container">
					<div class="overlay-container__header">
						<div class="fixed">
							<p>Заказать обратный звонок</p>
							<span class="overlay-container__close"></span>
						</div>
					</div>
					<div class="fixed">
						//= includes/blocks/form_overlay.html
					</div>
				</div>
			</div>
		</div>
		<span class="top-btn"></span>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
		<script src="../dest/js/main.min.js"></script>
	</body>
</html>