.catalog > .fixed {
	padding: 45px 0;
}

.catalog-filter {
	width: 205px;
}

.catalog-filter__container {
	margin-bottom: 45px;
	&:last-child {
		margin-bottom: 0;
	}
}

.catalog-filter__heading h2 {
	font-size: $small-header;
	color: $main-gray;
	text-transform: uppercase;
}

.catalog-filter__price {
	width: 205px;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.catalog-filter__price-input {
		width: 50px;
    	padding: 16px 20px;
		background: rgba(#000, .05);
		color: $main-gray;
		text-transform: uppercase;
		text-align: center;
	}
}

.catalog-filter__range {
	margin-top: 25px;

	#amount {
		margin-top: 15px;
		width: 200px;
	}
}

#catalog-filter__range {
    background: $main-gray;
    height: 5px;
    border: none;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    background: $main-red;
    border: none;
    height: 5px;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 50%;    
    border: 3px solid $main-red;
    background: #fff;
    top: -7px;
    cursor: move;
}

.catalog-filter__search {
	width: auto;
	margin-top: 25px;

	.catalog-filter__search-input {
		width: 141px;
		padding: 16px 32px;
		background: rgba(#000, .05);
		color: $main-gray;
		text-transform: uppercase;
	}
}

.catalog-filter__price-input::-webkit-inner-spin-button, 
.catalog-filter__price-input::-webkit-outer-spin-button,
.catalog-filter__search-input::-webkit-inner-spin-button,
.catalog-filter__search-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.catalog-filter__checkboxes {
	margin-top: 25px;

	.catalog-filter__checkbox {
	    display: none;
	}

	ul li {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.catalog-filter__checkbox + .catalog-filter__checkbox-label {
		padding-left: 40px;
	    height: 20px;
    	display: block;
    	line-height: 21px;
    	text-transform: uppercase;
		transition: 0.3s all;
    	cursor: pointer;
	    background: url("../images/icons/controls/checkbox.svg") no-repeat;
	    &:hover {
	    	background: url("../images/icons/controls/checkbox_hover.svg") no-repeat;
	    }
	}

	.catalog-filter__checkbox:checked + .catalog-filter__checkbox-label {
	    background: url("../images/icons/controls/checkbox_checked.svg") no-repeat;
	}
}

.catalog-filter__reset {
	display: block;
	width: 42px;
	height: 42px;
	margin: 45px auto 0;
	transition: 0.3s all;
	cursor: pointer;
	background: url("../images/icons/controls/filter_reset.svg");
	&:hover {
		background: url("../images/icons/controls/filter_reset-hover.svg");
	}
}