.form, .popup-form {
	width: 235px;
}

.footer-form > .error {
	color: #fff;
}

.popup-form > .error {
	color: $main-red;
}

.form-input {
	position: relative;
	margin-bottom: 12px;
	&:last-child {
		margin-bottom: 0;
	}

	.form__name-input, .form__phone-input {
		width: 100%;
		padding: 15px 32px 15px 60px;
		background: rgba(#000, .2);
		color: #fff;
	}

	.form__name-input_overlay, .form__phone-input_overlay {
		background: rgba(#000, .1);
		color: #000;
	}

	.form__name-icon {
		@extend .form-icons;
		background: url("../images/icons/input_name-icon.svg") no-repeat;
	}

	.form__phone-icon {
		@extend .form-icons;
		background: url("../images/icons/input_phone-icon.svg") no-repeat;
	}
}

.form-submit {
	@extend .btn;
	cursor: pointer;
	margin-top: 12px;
}

.form-submit_right {
	float: right;
}