.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(#000, .5);
	z-index: 9999;
}

.flex-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#callback-overlay, #cart-overlay {
	display: none;
}

.overlay-container {
	width: 315px;
    background: #fff;

    > .fixed {
    	width: 235px;
    	margin: 0 auto;
    	padding: 45px 0;
    }
}

.overlay-container__header {
	background: $main-bg;

	> .fixed {
		width: auto;
		padding: 20px 25px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $main-blue;
		text-transform: uppercase;
	}

	.overlay-container__close {
		display: block;
		width: 25px;
		height: 25px;
		background: url("../images/icons/overlay_close.svg");
		cursor: pointer;
		transition: 0.3s all;
		&:hover {
			background: url("../images/icons/overlay_close-hover.svg");
		}
	}
}



.cart-overlay-container {
	width: 640px;

    > .fixed {
		width: auto;
		padding: 45px 25px;
	}
}

.cart-overlay__product {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.cart-overlay__product-img {
		width: auto;
		height: 93px;
		img {
			height: 93px;
		}
	}

	.cart-overlay__product-description {
		width: 220px;
		margin: 0 25px;
		text-transform: uppercase;
	}

	.cart-overlay__product-discount {
		position: relative;
		top: 0;
	}
}

.cart-overlay__options, .cart-overlay__options-count, .cart-overlay__options-diameter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-overlay__options {
	margin-top: 25px;
}

.cart-overlay__options-count {
	width: 275px;
}

.cart-overlay__options-diameter {
	width: 260px;
}

.cart-overlay__btn {
	@extend .btn;
	margin-top: 45px;
}