.product-info > .fixed {
	padding: 45px 0;
}

.product-info__thumbnail {
	float: left;
	width: 570px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.product-info__main-thumbnail {
		position: relative;
		width: 413px;
		height: 385px;
	}
}

.product-info__thumbnails-item {
	position: relative;
	width: 133px;
	height: 123px;
	margin-bottom: 8px;
	&:last-child {
		margin-bottom: 0;
	}
}

.product-info__zoom {
	display: block;
	width: 9px;
	height: 9px;
	background: url("../images/icons/products/zoom.svg");
	position: absolute;
	bottom: 7px;
	right: 7px;
}